<div class="section-arrow" style="background-color:{{ settings.dropdown_arrow_bg }}; border-radius: 100%;">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.94 180.94">
    <defs>
      <style>.cls-1{fill:none;stroke:{{ settings.dropdown_arrow }};stroke-width:5px;}</style>
    </defs>
    <path style="fill:{{ settings.dropdown_arrow }};" d="M145.77,59.18l0,0a8.72,8.72,0,0,0-2.65-5.41,8.34,8.34,0,0,0-5.83-2.63c-2.75-.65-5.46.72-7.7,2.9-7.49,7.34-14.87,14.78-22.34,22.13-2.51,2.47-4.7,3.8-6.85,4-2.14-.22-4.33-1.55-6.84-4C86.06,68.77,78.67,61.33,71.19,54c-2.24-2.18-5-3.55-7.7-2.9a8.34,8.34,0,0,0-5.83,2.63A8.72,8.72,0,0,0,55,59.13l0,0,0,0a9,9,0,0,0,2.81,7Q75.27,84,93,101.63c2.36,2.34,4.88,3.38,7.38,3.12,2.51.26,5-.78,7.39-3.12q17.73-17.58,35.17-35.43a9,9,0,0,0,2.81-7Z" transform="translate(-9.91 -6.39)"/>
    <path style="fill:{{ settings.dropdown_arrow }};" d="M145.77,109.18l0-.05a8.72,8.72,0,0,0-2.65-5.41,8.34,8.34,0,0,0-5.83-2.63c-2.75-.65-5.46.72-7.7,2.9-7.49,7.34-14.87,14.78-22.34,22.13-2.51,2.47-4.7,3.8-6.85,4-2.14-.22-4.33-1.55-6.84-4-7.47-7.35-14.86-14.79-22.34-22.13-2.24-2.18-5-3.55-7.7-2.9a8.34,8.34,0,0,0-5.83,2.63A8.72,8.72,0,0,0,55,109.13l0,.05,0,0a9,9,0,0,0,2.81,7Q75.27,134,93,151.63c2.36,2.34,4.88,3.38,7.38,3.12,2.51.26,5-.78,7.39-3.12q17.73-17.58,35.17-35.43a9,9,0,0,0,2.81-7Z" transform="translate(-9.91 -6.39)"/>
    <circle class="cls-1" cx="90.47" cy="90.47" r="89.47"/>
  </svg>
</div>
