<div class="container">
    <div class="fourofour-holder">

    </div><!--.fourofour-holder ends-->
    <div class="fourofour">
      <h1 class="title">{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>
</div>
