{% include 'site-wide-banner' %}
  <div class="container">
    <h1 class="collection-title title">{{ blog.title }}</h1>
  </div>
  {% include 'down-arrow' %}
</div><!--.collection-banner-title ends-->


<div class="breadcrumbs-section breadcrumb-blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-left">
        {%- include 'breadcrumbs' -%}
      </div>
    </div>
  </div>
</div><!--.collection-top-product ends-->


{% section 'blog-page' %}
