<div class="collection-banner-title" style="background-image:url({{ settings.universal_banner_image | img_url: 'master' }});">
  <div class="container">
    <h1 class="collection-title title">{{ page.title }}</h1>
  </div>
</div><!--.collection-banner-title ends-->

<div class="rte">
  {{ page.content }}
</div>
