<div class="collection-banner-title" style="background-image:url({{ settings.universal_banner_image | img_url: 'master' }});">
  <div class="container">
    <h1 class="collection-title title">About Us</h1>
  </div>
  {% include 'down-arrow' %}
</div><!--.collection-banner-title ends-->

<div class="about-section-one">
  {% section 'image-with-text' %}
  {% include 'down-arrow' %}
</div><!--.about-section-one ends-->

<div class="about-section-two text-center">
  {% section 'image-bar' %}
  {% include 'down-arrow' %}
</div><!--.about-section-one ends-->

<div class="about-section-three text-center">
  {% section 'rich-text' %}
</div><!--.about-section-one ends-->

<div class="rte">
  {{ page.content }}
</div>

</div><!--.contact-form-holder ends-->
